<div class="sidebar">
    <div class="logo-content">
        <div class="logo">
            <img src="/icons/biswa-bangla.png" alt="logo" class="sidebar-logo">
            <div class="logo-name">HooghlyOne</div>
        </div>
        <i class='bx bx-menu' id="menu-btn" ></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin-dashboard">
                <i class='bx bx-grid-alt' ></i>
                <span class="links-name">Dashboard</span>
            </a>
            <span class="tool-tip">Dashboard</span>
        </li>
        <li>
            <a href="/admin-dashboard/restorations">
                <i class='bx bxs-badge-dollar'></i>
                <span class="links-name">RESTORATIONS</span>
            </a>
            <span class="tool-tip">Restorations</span>
        </li>
        <li>
            <a href="/admin-dashboard/agebenefit/eighty-applications">
                <i class='bx bx-dollar-circle' ></i>
                <span class="links-name">EIGHTY </span>
            </a>
            <span class="tool-tip">Eighty</span>
        </li>
        <li>
            <a href="/admin-dashboard/agebenefit/eightyfive-applications">
                <i class='bx bxs-dollar-circle' ></i>
                <span class="links-name">EIGHTYFIVE </span>
            </a>
            <span class="tool-tip">Eighty Five</span>
        </li>
        <li>
            <a href="/admin-dashboard/agebenefit/ninety-applications">
                <i class='bx bx-dollar'></i>
                <span class="links-name">NINETY </span>
            </a>
            <span class="tool-tip">Ninety</span>
        </li>
        <li>
            <a href="/admin-dashboard/agebenefit/hundred-applications">
                <i class='bx bx-rupee'></i>
                <span class="links-name">HUNDRED </span>
            </a>
            <span class="tool-tip">Hundred</span>
        </li>
        <li>
            <a href="/admin-dashboard/death-intimations">
                <i class="fas fa-file-invoice"></i>
                <span class="links-name">DEATHINTIMATIONS</span>
            </a>
            <span class="tool-tip">Death Intimations</span>
        </li>
        <li>
            <a href="/admin-dashboard/search">
                <i class='bx bx-search'></i>
                <span class="links-name">SEARCH</span>
            </a>
            <span class="tool-tip">Search Pensioner</span>
        </li>
        <li>
            <a href="/admin-dashboard/approval">
                <i class='bx bxs-pencil'></i>
                <span class="links-name">APPROVAL</span>
            </a>
            <span class="tool-tip">Approve Signup </span>
        </li>
        <li>
            <a href="/admin-dashboard/notifications">
                <i class='bx bxs-bell-ring' ></i>
                <span class="links-name">NOTIFICATIONS</span>
            </a>
            <span class="tool-tip">Notifications</span>
        </li>
    </ul>
    <div class="profile-content">
        <div class="profile">
            <div class="profile-details">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="profilepic">
                <div class="name-job">
                    <div class="name"><%=currentUser.username%></div>
                    <div class="job">ADMIN</div>
                </div>
            </div>
            <a href="/logout"><i class='bx bx-log-out' id="logout" ></i></a>
        </div>
    </div>
</div>


   