<% layout('layouts/boilerplate')%>
<%- include('partials/flash') %>
<div class="content">
    <div class="container">
        <h1 class="mb-5">CHANGE PASSWORD</h1>
        <div class="form-container">
            <div class="col-6 offset-3">
                <form action="" method="POST" class="validated-form" novalidate>
                    <div class="form-group mb-3">
                        <label for="new-password">New Password</label>
                        <input type="password" class="form-control" name="newPassword" id="new-password" placeholder="Plese enter your new password" autocomplete="off" required> 
                        <div class="invalid-feedback">Please enter your new password</div>
                    </div>
                    <div class="mt-5 mb-5 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>