<% layout('layouts/boilerplate')%>
<%- include('partials/flash') %>
<div class="content">
    <div class="container">
        <h1 class="mb-5">FORGOT PASSWORD</h1>
        <div class="form-container">
            <div class="col-6 offset-3">
                <form action="/forgot-password" method="POST" class="validated-form" novalidate>
                    <div class="form-group mb-3">
                        <label for="Mobile">Mobile Number</label>
                        <input type="text" class="form-control" name="mobile" id="Mobile" placeholder="Plese enter your registered mobile number" autocomplete="off" required> 
                        <div class="invalid-feedback">Please enter your registed mobile number</div>
                    </div>
                    <div class="mt-5 mb-5 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>