<% layout('layouts/boilerplate')%>
<%- include('partials/flash') %>
<div class="content">
    <div class="container">
        <h1 class="mb-5">OTP VERIFICATION</h1>
        <div class="form-container">
            <div class="col-6 offset-3">
                <form action="" method="POST" class="validated-form" novalidate>
                    <div class="form-group mb-3">
                        <label for="OTP">One Time Password</label>
                        <input type="number" class="form-control" name="otp" id="OTP" placeholder="Plese enter OTP here" autocomplete="off" required> 
                        <div class="invalid-feedback">Please enter OTP sent to your registered mobile number</div>
                    </div>
                    <div class="mt-5 mb-5 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>