<% layout('layouts/boilerplate')%>
<%- include('../partials/sidebar') %>
<%- include('../partials/nav') %>
<%- include('../partials/flash') %>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="card bg-info">
                    <div class="inner">
                        <h3> 80 years </h3>
                        <p> Apply for 80 years Benefit </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-rupee-sign"></i>
                    </div>
                    <a href="/dashboard/agebenefit/eighty" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="card bg-info">
                    <div class="inner">
                        <h3> 85 years </h3>
                        <p> Apply for 85 years Benefit </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-rupee-sign"></i>
                    </div>
                    <a href="/dashboard/agebenefit/eightyfive" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="card bg-info">
                    <div class="inner">
                        <h3> 90 years </h3>
                        <p> Apply for 90 years Benefit </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-rupee-sign"></i>
                    </div>
                    <a href="/dashboard/agebenefit/ninety" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="card bg-info">
                    <div class="inner">
                        <h3> 100 years </h3>
                        <p> Apply for 100 years Benefit </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-rupee-sign"></i>
                    </div>
                    <a href="/dashboard/agebenefit/hundred" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>