<% layout('layouts/boilerplate')%>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="content">
    <div class="container">
        <h1 class="text-center mb-5">DEATH INTIMATION FORM</h1>
        <div class="form-container">
            <div class="col-6 offset-3">
                <form action="/deathintimation" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label for="PPO No">*PPO No.</label>
                        <input type="text" class="form-control" name="ppoNo" id="PPO No" placeholder="PPO No" autocomplete="off" required> 
                        <div class="invalid-feedback">Please Enter PPO No</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="name">*Pensioner Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" autocomplete="off" required>
                        <div class="invalid-feedback">Please Enter Pensioner Name</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="date">*Date of Death</label>
                        <input type="date" class="form-control" name="dateofdeath" id="date" placeholder="Select Date of Death" required pattern="\d{4}-\d{2}-\d{2}" autocomplete="off"  required>
                        <div class="invalid-feedback">Please Enter Date of Death</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="bankname">*Bank Name</label>
                        <select class="form-control" name= "bankname" id="bankname" required>
                            <option value="">Select Bank</option>
                            <option value="STATE BANK OF INDIA">STATE BANK OF INDIA</option>
                            <option value="UNITED BANK OF INDIA">UNITED BANK OF INDIA</option>
                            <option value="INDIAN bank">INDIAN BANK</option>
                        </select>
                        <div class="invalid-feedback">Please select Bank Name</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="branchname">*Branch Name</label>
                        <select class="form-control" name="branchname" id="branchname" required>
                            <option value="">Select Branch</option>
                            <option value="CHINSURAH">CHINSURAH</option>
                            <option value="PANDUA">PANDUA</option>
                            <option value="MOGRA">MOGRA</option>
                        </select>
                        <div class="invalid-feedback">Please select Branch Name</div>
                    </div>
                
                    <div class="form-group mb-3">
                        <label for="acno">*Penison Account Number</label>
                        <input type="number" class="form-control" name="acno" id="acno" placeholder="Pension Account Number" required>
                        <div class="invalid-feedback">Please Enter Pension Account Number</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="id">*ID No.</label>
                        <input type="number" class="form-control" name="id" id="id" placeholder="ID No" autocomplete="off">
                    </div>
                    <div class="form-group mb-3">
                        <label for="file">*File No.</label>
                        <input type="number" class="form-control" name="fileno" id="file" placeholder="File No" autocomplete="off">
                    </div>
                    <div class="form-group mb-3">
                        <label for="applicant">*Applicant Name</label>
                        <input type="text" class="form-control" name="applicant" id="applicant" placeholder="Your Name" autocomplete="off" required>
                        <div class="invalid-feedback">Please Enter your name</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="relation">*Relationship</label>
                        <select name="relation" id="relation" class="form-control" required>
                            <option value="">Select Relationship</option>
                            <option value="husband">Husband</option>
                            <option value="wife">Wife</option>
                            <option value="son">Son</option>
                            <option value="daughter">Daughter</option>
                            <option value="brother">Brother</option>
                            <option value="sister">Sister</option>
                            <option value="other">Other</option>
                        </select>
                        <div class="invalid-feedback">Please select relationship with Pensioner</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="mobile">*Mobile No</label>
                        <input type="number" class="form-control" name="mobile" id="mobile" placeholder="Mobile Number" autocomplete="off" required>
                        <div class="invalid-feedback">Please Enter your mobile number</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="PPOcopy">Upload PPO</label>
                        <input type="file" name="deathdetails" id="PPOcopy" required>
                        <div class="invalid-feedback">Please upload PPO of the deceased Pensioner</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="deathCertificate">Upload Death Certificate</label>
                        <input type="file" name="deathdetails" id="deathCertificate" required>
                        <div class="invalid-feedback">Please upload death certificate</div>
                    </div>
                    <div class="form-group mb-3">
                            <div class="g-recaptcha" data-sitekey='6Le1oekdAAAAAJMci7ePM9BjmizzDn1-WHTrB7qj'></div>
                        </div>
                    </div>
                    <div class="mt-5 mb-5 text-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    