<% layout('layouts/boilerplate')%>
<%- include('../partials/sidebar') %>
<%- include('../partials/nav') %>
<%- include('../partials/flash') %>
<div class="content">
    <div class="container">
        <table class="table table-success table-hover table-stripped">
            <thead>
                <tr>
                    <th>FORM TYPE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SPOUSE FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282389/FORMS/spouse_ndjro5.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>ATTESTATION FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282388/FORMS/photo_signature_sdkoik.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>NON MARRIAGE FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282229/FORMS/nonmarrige_xszkyp.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>NOMINATION FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282230/FORMS/nomination_iu7pmv.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>DEATH INTIMATION FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282230/FORMS/death_intimation_bqg5ow.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>LIFE TIME ARREAR APPLICATION FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282389/FORMS/lta_nominee_appear_bhljqu.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>LEGAL HEIRS FORM 1</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282231/FORMS/form_1_gslw7l.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>LEGAL HEIRS FORM 2</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282230/FORMS/form_2_gk68np.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>EIGHTY YEARS BENEFIT APPLICATION FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282230/FORMS/eighty_lskq6n.pdf" target="_blank">VIEW</a></td>
                </tr>
                <tr>
                    <td>RESTORATION APPLICATION FORM</td>
                    <td><a href="https://res.cloudinary.com/dn47bnyxc/image/upload/v1640282230/FORMS/restoration_fqfqzk.pdf" target="_blank">VIEW</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>