<% layout('layouts/boilerplate')%>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="main">
    <div class="container">
        <% if(error && error.length){%>
            <div class="alert alert-warning alert-dismissible fade show" id="login-alert" role="alert">
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <%}%>
        <div class="form-container loginContainer">
            <h1 class="text-center mb-5">Sign In!</h1>
            <form action= "/login" method="POST" class= "validated-form" novalidate>
                <div class="row register-row">
                    <div class="col col-lg-12 col-sm-12 form-group mb-3">
                        <label for="Username" data-error= "wrong" data-success="right">Username</label>
                        <input type="text" class="form-control" name="username" id="Username" placeholder="Username" autocomplete="off" required> 
                        <div class="invalid-feedback">Please Enter Username</div>
                    </div>
                </div>
                <div class="row register-row">
                    <div class="col col-lg-12 col-sm-12 form-group mb-3">
                        <label for="Password" data-error= "wrong" data-success="right">Password</label>
                        <input type="password" class="form-control" name="password" id="Password" placeholder="Password" autocomplete="off" required> 
                        <div class="invalid-feedback">Please Enter password</div>
                    </div>
                </div>
                <div class="row register-row">
                    <div class="col col-lg-12 col-sm-12 form-group mb-3">
                        <div class="g-recaptcha" data-sitekey='6LdIfx0dAAAAAGi_AAqo3cSf36IGPhMmg7oexDsD'></div>
                    </div>
                </div>
                <div class="row register-row">
                    <p><a href="/forgot-password">Forgot password?</a></p>
                </div>
                <div class="row register-row">
                    <div class="col col-sm-12 col-lg-12">
                        <div class="mt-4 mb-4 text-center">
                            <button type="submit" class="btn btn-success login-btn">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
